<!doctype html>
<html>
  <head>
    <title> <%= title %> </title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  </head>
  <body>
    <h1>
      artist : <a
        href="/artist/album.artistId">
        <%= album.artist.name %>
      </a>
    </h1>
    <h2> album : <%= album.name %> </h2>
    <a href="/">main page</a>
  </body>
</html>
