<!doctype html>
<html>
  <head>
    <title> <%= title %> </title>
  </head>
  <body>
    <h1> name : <%= artist.name %> </h1>
    <h3> genre : <%= artist.genre %> </h3>
    <h5>
      <a href="<%= artist.wiki %>">wiki</a>
    </h5>
    <a href='/artists'>back</a>
  </body>
</html>
