<!doctype html>
<html>
  <%- include('../templates/head', { page : 'register' }) %>
  <body>
    <h1> register </h1>
    <% if(err) { %>
        <p class="error"> <%= err %> </p>
    <% } %>
    <form class="pure-form pure-form-stacked"
          action="/user/new"
          method="POST">
      <fieldset>
        <legend>Register</legend>
        <label for="email">email</label>
        <input type="email"
               name="email"
               placeholder="new@user.com">
        <label for="password">password</label>
        <input type="password"
               name="password"
               placeholder="password">
        <label for="password_confirm">confirm password</label>
        <input type="password"
               name="password_confirm"
               placeholder="password">
        <input class="pure-button pure-button-primary"
               type="submit"
               value="submit">
      </fieldset>
    </form>
  </body>
</html>
