<!doctype html>
<html>
  <%- include('../templates/head', { page : 'add album' }); %>
  <body>
    <h1> add album </h1>

    <div class="artist-search">
      <form action="">
        <input type="text"
               placeholder="artist name">
        <input type="submit" value="search">
      </form>
    </div>

    <div class="artist-matches">
      <form action="/album"
            method="POST">
        <label for="selected-artist">search results</label>
        <div>
          <select id="selected-artist" name="artist">
          </select>
        </div>
        <div>
          <label for="album-name">album name :</label>
          <input type="text"
                 name="album-name"
                 placeholder="album name">
        </div>
        <input type="submit" value="add album">
      </form>
    </div>

    <%- include('../templates/scripts', { page : 'album-add' }); %>
  </body>
</html>
